﻿-- ======================================
-- DATABASE CONFIGURATION
-- ======================================
DROP DATABASE IF EXISTS ecommerce_support;
CREATE DATABASE ecommerce_support
  CHARACTER SET utf8mb4
  COLLATE utf8mb4_unicode_ci;
USE ecommerce_support;

-- ======================================
-- 1. TABLE: PERSON
-- ======================================
CREATE TABLE Person (
    User_ID         INT AUTO_INCREMENT      PRIMARY KEY,
    Full_Name       VARCHAR(100)            NOT NULL,
    Email           VARCHAR(100)            NOT NULL,
    Phone_number    VARCHAR(20),
    Password        VARCHAR(255)            NOT NULL,
    Address         VARCHAR(255)            NOT NULL,
    CONSTRAINT UQ_Person_Email UNIQUE (Email),
    CONSTRAINT CHK_Person_PasswordLen CHECK (CHAR_LENGTH(Password) BETWEEN 8 AND 20)
);

-- ======================================
-- 2. TABLE: BUYER
-- ======================================
CREATE TABLE Buyer (
    Buyer_user_ID   INT                     PRIMARY KEY,
    Zip_code        CHAR(5)                 NOT NULL,

    CONSTRAINT CHK_Buyer_Zip CHECK (Zip_code REGEXP '^[0-9]{5}$'),
    CONSTRAINT FK_Buyer_Person FOREIGN KEY (Buyer_user_ID)
        REFERENCES Person(User_ID) ON DELETE CASCADE
);

-- ======================================
-- 3. TABLE: CUSTOMER SUPPORT
-- ======================================
CREATE TABLE Customer_Support (
    Custom_user_ID          INT                     PRIMARY KEY,
    Department              VARCHAR(50)             NOT NULL,
    Specialization          VARCHAR(50)             NOT NULL,
    Total_tickets_handled   INT                     NOT NULL    DEFAULT 0,
    Avg_resolution_time     DECIMAL(4,2)            NOT NULL    DEFAULT 0,
    Hire_date               DATE                    NOT NULL,

    CONSTRAINT FK_CS_Person FOREIGN KEY (Custom_user_ID)
        REFERENCES Person(User_ID) ON DELETE CASCADE
);

-- ======================================
-- 4. TABLE: SUPPORT SESSION
-- ======================================
CREATE TABLE Support_session (
    Supportting_num INT NOT NULL AUTO_INCREMENT,
    Supportting_ID  VARCHAR(10), -- Được điền tự động bởi Trigger

    CS_ID           INT             NOT NULL,
    Buyer_ID        INT             NOT NULL,
    Issue           VARCHAR(255)    NOT NULL,
    Description     TEXT,
    is_solve        TINYINT(1)      NOT NULL DEFAULT 0,
    created_at      DATETIME        NOT NULL DEFAULT CURRENT_TIMESTAMP,

    PRIMARY KEY (Supportting_num),
    UNIQUE (Supportting_ID),

    CONSTRAINT FK_SS_CS
        FOREIGN KEY (CS_ID) REFERENCES Customer_Support(Custom_user_ID),

    CONSTRAINT FK_SS_Buyer
        FOREIGN KEY (Buyer_ID) REFERENCES Buyer(Buyer_user_ID),

    CONSTRAINT CHK_SS_Solved_Description
        CHECK (is_solve = 0 OR (is_solve = 1 AND Description IS NOT NULL))
);

-- TRIGGER: Tự động sinh mã SSxxx
DELIMITER $$
CREATE TRIGGER trg_generate_SupportID
BEFORE INSERT ON Support_session
FOR EACH ROW
BEGIN
    DECLARE next_id INT;
    SELECT IFNULL(MAX(Supportting_num), 0) + 1 INTO next_id FROM Support_session;
    SET NEW.Supportting_ID = CONCAT('SS', LPAD(next_id, 3, '0'));
END$$
DELIMITER ;

-- ======================================
-- 5. TABLE: BUYER FAVORITE
-- ======================================
CREATE TABLE Buyer_favorite (
    Category_ID         INT             NOT NULL,
    Buyer_user_ID       INT             NOT NULL,

    PRIMARY KEY (Category_ID, Buyer_user_ID),
    CONSTRAINT FK_BF_Buyer FOREIGN KEY (Buyer_user_ID) REFERENCES Buyer(Buyer_user_ID) ON DELETE CASCADE
);

-- ======================================
-- 6. TABLE: SELLER & SKILL
-- ======================================
CREATE TABLE Seller (
    Seller_user_ID      INT         PRIMARY KEY,
    Rank                VARCHAR(50) DEFAULT 'Beginner',

    CONSTRAINT FK_Seller_Person FOREIGN KEY (Seller_user_ID)
        REFERENCES Person(User_ID) ON DELETE CASCADE
);

CREATE TABLE Seller_Skill (
    Seller_user_ID      INT             NOT NULL,
    Specialization      VARCHAR(100)    NOT NULL,

    PRIMARY KEY (Seller_user_ID, Specialization),
    CONSTRAINT FK_Skill_Seller FOREIGN KEY (Seller_user_ID)
        REFERENCES Seller(Seller_user_ID) ON DELETE CASCADE
);

-- ======================================
-- 7. TABLE: CATEGORY
-- ======================================
CREATE TABLE Category (
    Category_ID         INT             PRIMARY KEY,
    Name                VARCHAR(100)    NOT NULL,
    Description         TEXT,
    Level               INT             CHECK (Level > 0),
    Super_cate_ID       INT,

    CONSTRAINT FK_Category_Parent FOREIGN KEY (Super_cate_ID)
        REFERENCES Category(Category_ID)
);

-- ======================================
-- 8. TABLE: STORE
-- ======================================
CREATE TABLE Store (
    Store_ID        INT             PRIMARY KEY,
    Seller_ID       INT             NOT NULL,
    Name            VARCHAR(100)    NOT NULL,
    store_url       VARCHAR(255),
    description     TEXT,
    banner_url      VARCHAR(255),
    l_url           VARCHAR(255),
    email           VARCHAR(100)    UNIQUE,
    city            VARCHAR(50),
    District        VARCHAR(50),
    total_product   INT             DEFAULT 0 CHECK (total_product >= 0),
    total_follower  INT             DEFAULT 0 CHECK (total_follower >= 0),

    CONSTRAINT FK_Store_Seller FOREIGN KEY (Seller_ID)
        REFERENCES Seller(Seller_user_ID)
);

-- ======================================
-- 9. TABLE: PRODUCT
-- ======================================
CREATE TABLE Product (
    Product_ID          INT             AUTO_INCREMENT PRIMARY KEY,
    Store_ID            INT             NOT NULL,
    Name                VARCHAR(150)    NOT NULL,
    Description         TEXT,
    Price               DECIMAL(15,2)   NOT NULL CHECK (Price > 0),
    Images_url          VARCHAR(255),
    Stock_quantity      INT             DEFAULT 0 CHECK (Stock_quantity >= 0),
    Status              VARCHAR(20)     DEFAULT 'Available' CHECK (Status IN ('Available','Out of Stock','Discontinued')),

    CONSTRAINT FK_Product_Store FOREIGN KEY (Store_ID)
        REFERENCES Store(Store_ID)
);

-- ======================================
-- 10. TABLE: ORDERS
-- ======================================
CREATE TABLE Orders (
    Order_ID            INT             AUTO_INCREMENT      PRIMARY KEY,
    Buyer_ID            INT             NOT NULL,
    Discount            DECIMAL(15,2)   DEFAULT 0,
    Payment_method      VARCHAR(20)     NOT NULL CHECK (Payment_method IN ('cod','credit_card','ewallet','bank_transfer')),
    Shipping_fee        DECIMAL(15,2)   DEFAULT 0,
    Order_date          DATETIME        DEFAULT CURRENT_TIMESTAMP,
    Shipping_address    TEXT            NOT NULL,
    Order_status        VARCHAR(20)     DEFAULT 'pending' CHECK (Order_status IN ('pending','confirmed','shipping','delivered','cancelled','processing')),

    CONSTRAINT FK_Order_Buyer FOREIGN KEY (Buyer_ID) REFERENCES Buyer(Buyer_user_ID)
);

-- ======================================
-- 11. TABLE: PAYMENT
-- ======================================
CREATE TABLE Payment (
    Payment_ID          INT             AUTO_INCREMENT      PRIMARY KEY,
    Buyer_ID            INT             NOT NULL,
    Payment_time        DATETIME,
    Transaction_code    VARCHAR(50),
    Payment_method      VARCHAR(20)     NOT NULL CHECK (Payment_method IN ('cod','credit_card','ewallet','bank_transfer')),
    Amount              DECIMAL(15,2)   NOT NULL,
    Paid_at             DATETIME,
    Order_ID            INT             NOT NULL,
    Payment_status      VARCHAR(20)     DEFAULT 'unpaid' CHECK (Payment_status IN ('unpaid','paid','refunded')),

    CONSTRAINT FK_Payment_Buyer FOREIGN KEY (Buyer_ID) REFERENCES Buyer(Buyer_user_ID),
    CONSTRAINT FK_Payment_Order FOREIGN KEY (Order_ID) REFERENCES Orders(Order_ID)
);

-- ======================================
-- 12. TABLE: ORDER ITEMS
-- ======================================
CREATE TABLE OrderItems (
    Order_item_ID       INT             NOT NULL,
    Order_ID            INT             NOT NULL,
    Product_ID          INT             NOT NULL,
    Unit_price          DECIMAL(15,2)   NOT NULL,
    Quantity            INT             NOT NULL,

    PRIMARY KEY (Order_ID, Order_item_ID),
    CONSTRAINT FK_OI_Order FOREIGN KEY (Order_ID) REFERENCES Orders(Order_ID),
    CONSTRAINT FK_OI_Product FOREIGN KEY (Product_ID) REFERENCES Product(Product_ID)
);

-- ======================================
-- 13. TABLE: REVIEW
-- ======================================
CREATE TABLE Review (
    Review_ID       INT     NOT NULL,
    Order_item_ID   INT     NOT NULL,
    Order_ID        INT     NOT NULL,
    Buyer_user_ID   INT     NOT NULL,
    rating          INT     NOT NULL CHECK (rating BETWEEN 1 AND 5),
    comment         TEXT,

    PRIMARY KEY (Order_ID, Order_item_ID, Review_ID),
    CONSTRAINT FK_Review_Item 
        FOREIGN KEY (Order_ID, Order_item_ID)
        REFERENCES OrderItems(Order_ID, Order_item_ID),
    CONSTRAINT FK_Review_Buyer FOREIGN KEY (Buyer_user_ID) REFERENCES Buyer(Buyer_user_ID)
);

-- ======================================
-- 14. TRANSPORTATION TABLES
-- ======================================
CREATE TABLE Transportation_Company (
    Company_ID          INT             AUTO_INCREMENT  PRIMARY KEY,
    Name                VARCHAR(255)    NOT NULL,
    Contact_phone       VARCHAR(50),
    Contact_email       VARCHAR(255)    UNIQUE,
    Price_policy        VARCHAR(50)     DEFAULT 'pp1',
    Description         TEXT,
    Tracking_url        VARCHAR(255),

    CONSTRAINT CK_Company_Email CHECK (Contact_email LIKE '%_@_%._%' AND Contact_email NOT LIKE '% %')
);

CREATE TABLE Transport (
    Order_ID        INT     NOT NULL,
    Company_ID      INT     NOT NULL,

    PRIMARY KEY (Order_ID),
    CONSTRAINT FK_Transport_Order FOREIGN KEY (Order_ID)
        REFERENCES Orders(Order_ID) ON DELETE CASCADE,
    CONSTRAINT FK_Transport_Company FOREIGN KEY (Company_ID)
        REFERENCES Transportation_Company(Company_ID) ON DELETE CASCADE
);

CREATE TABLE L_url (
    L_url       VARCHAR(255)    NOT NULL,
    Company_ID  INT             NOT NULL,

    PRIMARY KEY (L_url, Company_ID),
    CONSTRAINT FK_L_Company FOREIGN KEY (Company_ID)
        REFERENCES Transportation_Company(Company_ID) ON DELETE CASCADE
);

CREATE TABLE Shipping_method (
    Shipping_method     VARCHAR(100)    NOT NULL,
    Company_ID          INT             NOT NULL,

    PRIMARY KEY (Shipping_method, Company_ID),
    CONSTRAINT FK_Shipping_Company FOREIGN KEY (Company_ID)
        REFERENCES Transportation_Company(Company_ID) ON DELETE CASCADE
);

-- ======================================
-- 15. JUNCTION TABLES
-- ======================================
CREATE TABLE User_phone_number (
    USPN        VARCHAR(20)     NOT NULL,
    User_ID     INT             NOT NULL,

    PRIMARY KEY (USPN, User_ID),
    CONSTRAINT FK_USPN_User FOREIGN KEY (User_ID)
        REFERENCES Person(User_ID) ON DELETE CASCADE
);

CREATE TABLE Store_phone_number (
    SPN         VARCHAR(20)     NOT NULL,
    Store_ID    INT             NOT NULL,

    PRIMARY KEY (SPN, Store_ID),
    CONSTRAINT FK_SPN_Store FOREIGN KEY (Store_ID)
        REFERENCES Store(Store_ID) ON DELETE CASCADE
);

CREATE TABLE Product_belong_Category (
    Product_ID      INT     NOT NULL,
    Category_ID     INT     NOT NULL,

    PRIMARY KEY (Product_ID, Category_ID),
    CONSTRAINT FK_PBC_Product FOREIGN KEY (Product_ID)
        REFERENCES Product(Product_ID) ON DELETE CASCADE,
    CONSTRAINT FK_PBC_Category FOREIGN KEY (Category_ID)
        REFERENCES Category(Category_ID) ON DELETE CASCADE
);

CREATE TABLE Buyer_And_Store (
    Buyer_user_ID   INT     NOT NULL,
    Store_ID        INT     NOT NULL,

    PRIMARY KEY (Buyer_user_ID, Store_ID),
    CONSTRAINT FK_BAS_Buyer FOREIGN KEY (Buyer_user_ID)
        REFERENCES Buyer(Buyer_user_ID) ON DELETE CASCADE,
    CONSTRAINT FK_BAS_Store FOREIGN KEY (Store_ID)
        REFERENCES Store(Store_ID) ON DELETE CASCADE
);

-- ======================================
-- INSERT DATA
-- ======================================

INSERT INTO Buyer (Buyer_user_ID, Zip_code) VALUES
(1, '70000'), (2, '10000'), (3, '80000'), (4, '70000'), (5, '49000'), (6, '70000');

INSERT INTO Customer_Support (Custom_user_ID, Department, Specialization, Total_tickets_handled, Avg_resolution_time, Hire_date) VALUES
(6, 'Hỗ trợ chung', 'Phoning', 5, 4.50, '2024-08-29'),
(7, 'Hỗ trợ chung', 'Chatting', 6, 5.60, '2024-11-10');

INSERT INTO Support_session (CS_ID, Buyer_ID, Issue, Description, is_solve, created_at) VALUES
(6, 2, 'Cant Login', 'Can not login account for 24hours', 1, '2025-01-29 14:35:00'),
(6, 4, 'Cant publish product', 'Tôi đã nhấn publish products nhưng sản phẩm không hiện lên.', 1, '2025-02-01 09:20:00'),
(6, 5, 'Error profile info', 'Thông tin profile bị lỗi, dù đã sửa', 1, '2025-07-19 18:50:00'),
(7, 2, 'Payment Error', 'Đã thanh toán nhưng vẫn hiển thị chưa thanh toán', 0, '2025-01-09 07:15:00'),
(7, 3, 'Crashing app', 'Hệ thống bị lỗi, không vào được', 1, '2025-06-04 22:10:00');

INSERT INTO Buyer_favorite (Category_ID, Buyer_user_ID) VALUES
(3, 1), (4, 1), (8, 1), (3, 2), (5, 4);

INSERT INTO Seller (Seller_user_ID, Rank) VALUES
(1, 'Expertise'), (2, 'Expertise'), (3, 'Intermediate'), (4, 'Beginner');

INSERT INTO Seller_Skill (Specialization, Seller_user_ID) VALUES
('Storytelling', 1), ('Activelistening', 1), ('Ntiation', 2), ('Public speaking', 3);

INSERT INTO Category (Category_ID, Name, Description, Level, Super_cate_ID) VALUES
(1, 'Home&Living', 'Đồ dùng gia dụng', 1, NULL),
(2, 'Beauty&Personal Care', 'Sản phầm làm đẹp', 1, NULL),
(7, 'Books & Stationery', 'Văn phòng phẩm và sách', 1, NULL),
(8, 'Food&Beverage', 'Thức ăn và nước uống', 1, NULL),
(3, 'Electronics', 'Đồ điện tử', 2, 1),
(4, 'Cosmetics', 'Mỹ phẩm', 2, 2),
(5, 'Stationery', 'Đồ văn phòng', 2, 7),
(6, 'Books', 'Sách vở', 2, 7);





INSERT INTO OrderItems (Order_item_ID, Order_ID, Product_ID, Unit_price, Quantity) VALUES
(1, 1, 1, 12000000, 1), (2, 1, 2, 2500000, 2),
(3, 2, 4, 350000, 1), (4, 2, 5, 450000, 1),
(5, 3, 3, 15000000, 1),
(6, 4, 7, 200000, 3),
(7, 5, 8, 180000, 2),
(8, 6, 9, 120000, 1), (9, 6, 6, 900000, 2),
(10, 7, 10, 90000, 4), (11, 7, 11, 120000, 1),
(12, 8, 12, 50000, 3),
(13, 9, 13, 120000, 1),
(14, 10, 14, 150000, 2), (15, 10, 15, 100000, 1);

INSERT INTO Review (Order_item_ID, Order_ID, Review_ID, Buyer_user_ID, rating, comment) VALUES
(1, 1, 1, 1, 5, 'Rất hài lòng'),
(2, 1, 2, 1, 4, 'Giao hàng hơi chậm'),
(3, 2, 3, 1, 5, 'Hài lòng'),
(6, 4, 4, 6, 3, 'Sản phẩm ổn'),
(7, 5, 5, 5, 5, 'Rất đẹp'),
(7, 5, 11, 5, 5, 'Chất lượng tốt'),
(8, 6, 6, 4, 4, 'Giá hợp lý'),
(9, 6, 12, 4, 4, 'Tốt'),
(10, 7, 7, 2, 5, 'Tuyệt vời'),
(11, 7, 8, 2, 5, 'Giao nhanh'),
(12, 8, 9, 5, 5, 'Sẽ mua lại'),
(13, 9, 10, 5, 4, 'Đóng gói đẹp'),
(14, 10, 13, 4, 3, 'Bình thường'),
(15, 10, 14, 4, 4, 'OK');

INSERT INTO Transportation_Company (Name, Contact_phone, Contact_email, Price_policy) VALUES
('ShopExpress', '45123', 'shope@ex.com', 'pp1'),
('NinjVan', '12341', 'ninj@ex.com', 'pp2'),
('GHL', '87345', 'ghl@ex.com', 'pp3'),
('VNIExpress', '23473', 'vni@ex.com', 'pp4');

INSERT INTO Transport (Order_ID, Company_ID) VALUES
(1, 1), (2, 1), (3, 1), (4, 2), (6, 3), (7, 3), (8, 4), (10, 4);

INSERT INTO Product_belong_Category (Product_ID, Category_ID) VALUES
(1, 3), (2, 3), (3, 3), (4, 2), (5, 2), (6, 2), (7, 2), (8, 2), (9, 2),
(4, 4), (5, 4), (6, 4), (7, 4), (8, 4), (9, 4),
(10, 8), (11, 8), (12, 8),
(13, 6), (14, 6), (15, 6), (13, 7), (14, 7), (15, 7);

INSERT INTO L_url (L_url, Company_ID) VALUES
('url_l1', 1), ('url_l2', 2), ('url_l3', 3), ('url_l4', 4);

INSERT INTO User_phone_number (USPN, User_ID) VALUES
('USPN1', 1), ('USPN2', 2), ('USPN3', 3), ('USPN4', 4),
('USPN5', 5), ('USPN6', 6), ('USPN7', 7);

INSERT INTO Store_phone_number (SPN, Store_ID) VALUES
('SPN1', 1), ('SPN2', 2), ('SPN3', 3), ('SPN4', 4), ('SPN5', 5);

INSERT INTO Shipping_method (Shipping_method, Company_ID) VALUES
('Standard', 1), ('Economy', 1), ('COD', 2), ('Overnight', 3), ('Standard', 3), ('Two-day', 4);

INSERT INTO Buyer_And_Store (Buyer_user_ID, Store_ID) VALUES
(2, 1), (5, 3), (6, 4);